* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Toastify__toast-container {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  z-index: 9999 !important;
}

.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
